*.fits
*.fits.*
*.log
*~
*.txt
*.pdf
*.txt
*.png
*.dat
*.out
*.ok
ERESOL/.RData
ERESOL/.RDataTmp
ERESOL/.RDataTmp1
ERESOL/.RDataTmp2
ERESOL/.Rhistory
ERESOL/.directory
ERESOL/.idea/
ERESOL/EbiasAndFWHM.otp
ERESOL/PAIRS/.RData
ERESOL/PAIRS/.Rhistory
ERESOL/PAIRS/.fuse_hidden0000006f00000001
ERESOL/PAIRS/EbiasAndFWHM.otp
ERESOL/PAIRS/PIXIMPACT/
ERESOL/PAIRS/README_old
ERESOL/PAIRS/READMEeresol
ERESOL/PAIRS/READMEtessim
ERESOL/PAIRS/allenPairs.csh
ERESOL/PAIRS/allenSingles.csh
ERESOL/PAIRS/compareMethods.R.OKforToulouse
ERESOL/PAIRS/compareMethodsPerf.ods
ERESOL/PAIRS/eresolLPA1shunt/
ERESOL/PAIRS/eresolLPA2shunt/
ERESOL/PAIRS/tessimLPA2shunt/
ERESOL/PAIRS/frequencyPairs_bysec.R
ERESOL/PAIRS/simulSakai.csh
ERESOL/PAIRS/simulSingles_Pinsard.py
ERESOL/PAIRS/baselineLPA2/
ERESOL/*xml
ERESOL/PAIRS/polyfit.R
ERESOL/TRIOS
ERESOL/TRIOS/.RData
ERESOL/TRIOS/.Rhistory
ERESOL/TRIOS/.fuse_hidden000003dc00000005
ERESOL/TRIOS/PIXIMPACT/
ERESOL/TRIOS/README
ERESOL/TRIOS/eresolLAP1
ERESOL/TRIOS/eresolLAP2
ERESOL/TRIOS/eresolLAP3
ERESOL/TRIOS/eresolLPA1shunt/
ERESOL/TRIOS/eresolSPA
ERESOL/TRIOS/fixtrios.pl
ERESOL/TRIOS/eresolLPA2shunt/
ERESOL/getEresolCurves.csh.copyPP
ERESOL/getEresolCurves.pl
ERESOL/getEresolCurves.pyEW6771.new
ERESOL/getEresolCurvesPairs.pl
ERESOL/getFeffTrec.pl
ERESOL/i2rPE
ERESOL/interp.cpp
ERESOL/logf
ERESOL/manySepsfor
ERESOL/methodsForR.Rdat
ERESOL/op
ERESOL/philippe300.csv
ERESOL/preIntegra/
ERESOL/runCompareACDCpy.cshc21114.new
ERESOL/runCompare_7keV_no
ERESOL/test.csv
ERESOL/w
ERESOL/wP
testHarness/simulations/SIXTE/.Rhistory
testHarness/simulations/SIXTE/.idea/
testHarness/simulations/SIXTE/CALIBRATION/
testHarness/simulations/SIXTE/LIBRARIES/
testHarness/simulations/SIXTE/NOISE/.RData
testHarness/simulations/SIXTE/NOISE/.Rhistory
testHarness/simulations/SIXTE/NOISE/README
testHarness/simulations/SIXTE/NOISE/tessimLPA1
testHarness/simulations/SIXTE/NOISE/tessimLPA1_v1/
testHarness/simulations/SIXTE/NOISE/tessimLPA1shunt/
testHarness/simulations/SIXTE/NOISE/tessimLPA2
testHarness/simulations/SIXTE/NOISE/tessimLPA2_v0/
testHarness/simulations/SIXTE/NOISE/tessimLPA2shunt/
testHarness/simulations/SIXTE/NOISE/tessimLPA3_v0/
testHarness/simulations/SIXTE/NOISE/tessimSPA
testHarness/simulations/SIXTE/NOISE/tessimSPA0/
testHarness/simulations/SIXTE/NOISE/tessimSPA_v0/
testHarness/simulations/SIXTE/NOISE/tessimSPA_v1/
testHarness/simulations/SIXTE/SIXTEsims.logbook
testHarness/simulations/SIXTE/SRCSIM/
testHarness/simulations/SIXTE/pp.lib
testHarness/simulations/SIXTE/preWorkshopSIXTE/
testHarness/simulations/SIXTE/pretessim/
testHarness/simulations/SIXTE/runtes/
testHarness/simulations/SIXTE/sim.a
testHarness/simulations/SIXTE/sim.ab
testHarness/simulations/SIXTE/sim.b
testHarness/simulations/SIXTE/sim8.jpg
testHarness/simulations/SIXTE/simulMonoen.pl
testHarness/simulations/SIXTE/tabmerge
testHarness/simulations/SIXTE/tabmergeADC
testHarness/simulations/SIXTE/xifu_detector_hex_baseline.xml
testHarness/simulations/SIXTE/pp
